.dz-preview.dz-image-preview.dz-processing.dz-complete {
  border: 5px solid green;
}

.channel-btn{
    position: relative;
}

.green{
    color:green;
}

.confirmed{
    position: relative;
    
}

.confirmed{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../images/verified.svg') no-repeat;
    display: block;
    z-index: 1;
    background-size: 100%;
}

.links .link a:hover{
    cursor: pointer;
}

.alert > ul{
    margin-bottom: 0;
}

.form_send .message {
  width: 100%;
}

/***************/


.for-chat .chat-messages .messages-content .user-message .message-block {
    margin-left: auto;
    background: var(--color-main);
    color: #fff;
    border-radius: var(--brs-big) var(--brs-big) 0 var(--brs-big);

}


.for-chat .chat-messages .messages-content .my-message {
   text-align: right;
}


.orders-inner{
    
}

.orders-outer{
    
}


/**********************/


.chat-messages .loading.active{
    display: block;
}

.chat-messages .loading{
    position: absolute;
    left: 35%;
    top: 12%;
    background: url(../images/ZKZg.gif) no-repeat center;
    width: 300px;
    height: 300px;
    background-size: 100%;
    display: none;
}

/************************/

.media-block img {
  width: 100%;
  height: 100%;
}

.dz-preview.dz-file-preview.dz-processing.dz-complete {
  border: 5px solid green;
}

.panel-inner .panel-body .orders .collapse-block.in_work {
  background: #CEFFD8;
}

.panel-inner .panel-body .orders .collapse-block.stopped {
  background: #F5B687;
}



.report_title.report_item{
    font-size: 18px;
    color: #3162E8;
    //margin-bottom: 30px;
}

.report_item{
    display: flex;
    flex-direction:row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.report_item:first-child,
.report_item:last-child{
    border-bottom: 0;
}

.report_item > div{
    padding: 0 10px;
}

.report_item .report_id{
    width: 50px;
    flex-grow:1;
}

.report_item .report_message{
    width: 300px;
    flex-grow:2;
}

.report_item .report_created{
    width: 100px;
    flex-grow:1;
}

.notification{
    position: relative;
}

.new_rep_mes{
    position: absolute;
    left: 11px;
    top: -9px;
    background-color: red;
    color: white;
    border-radius: 10px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px
}

.collapse-message{
    padding: 10px 0;
    text-decoration: underline;
}


.for-files .file-row .field-line {
  display: flex;
}

.page-content{
    padding: 15px;
}


.select-dropdown-link .select-dropdown .dropdown-inner .select-list .select-point.choosed {
    background: var(--color-main-l) !important;
}

#form_search_timer > span{
    display: block;
    width: 50px;
    height: 50px;
    background: var(--color-main-l) !important;
    text-align: center;
    border-radius: 15px;
    line-height: 3;
}

.button_search{
/*    background: var(--color-main-l) !important;
    border: 1px solid #fff; 
    color: var(--color-main);
    padding: 0 15px; 
*/
}



.panel-inner .panel-body .filters .filter-results .result-row .channel-order-info .blacklist
{
  position: absolute;
  left: 6px;
  bottom: 6px;
  width: 24px;
  height: 24px;
  padding: 4%;
  stroke: #fff;
  fill: transparent;
}

.panel-inner .panel-body .filters .filter-results .result-row .channel-order-info .blacklist.active {
  background:#fff;
  fill:#E83131;
  stroke:#E83131
}
.panel-inner .panel-body .filters .filter-results .result-row .channel-order-info .blacklist:hover {
  background:#fff;
  fill:#E83131;
  stroke:#E83131
}


.blacklist
{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  border-radius: 50%;
  background: var(--color-gray);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


.tariff_to{
    color: green;
}


/***************************************/


.tariffs {
  //padding:110px 0 0 0
}
.tariffs .for-title {
  margin:0 0 60px 0
}
@media (max-width:991px) {
  .tariffs .swiper-slide {
    width:70%
  }
  .tariffs .swiper-button div {
    width:auto;
    height:auto;
    background:none
  }
}
@media (min-width:768px) and (max-width:1199px) {
  .tariffs {
    padding:95px 0 0 0
  }
}
@media (max-width:767px) {
  .tariffs {
    padding:75px 0 0 0
  }
  .tariffs .for-title {
    margin:0 0 50px 0
  }
  .tariffs .for-title .tit {
    margin:25px 0 0 0
  }
  .tariffs .swiper-slide {
    width:90%
  }
}
.tariffs .swiper-packets .swiper-wrapper .swiper-slide {
  height:auto
}
@media (min-width:992px) {
  .tariffs .swiper-packets {
    overflow:hidden
  }
  .tariffs .swiper-packets .swiper-wrapper {
    column-gap:20px
  }
  .tariffs .swiper-packets .swiper-wrapper .swiper-slide {
    width:100%;
    flex-grow:1;
    flex-shrink:initial
  }
}
.tariffs .packet {
  background:#F3F3F3;
  border:1px solid rgba(26,26,26,.2);
  border-radius:var(--brs);
  overflow:hidden;
  display:flex;
  flex-direction:column;
  position:relative;
  //height:100%
}
.tariffs .packet.packet-dark {
  background:#1A1A1A;
  color:#fff
}
.tariffs .packet.packet-dark .p-top {
  border-bottom:1px solid rgba(255,255,255,.2)
}
.tariffs .packet.packet-dark .plus {
  stroke:#fff;
  fill:#fff
}
.tariffs .packet.packet-dark .plus:before,
.tariffs .packet.packet-dark .plus:after {
  background:rgba(255,255,255,.2)
}
.tariffs .packet.packet-light {
  background:#fff
}
.tariffs .packet .labe {
  position:absolute;
  right:0;
  top:0;
  width:130px;
  font-size:12px;
  padding-top:.1em;
  transform:rotate(45deg) translate(30%,0%);
  font-weight:600;
  text-transform:uppercase;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  background:var(--color-main)
}
.tariffs .packet .p-top {
  padding:30px 40px;
  border-bottom:1px solid rgba(26,26,26,.2)
}
.tariffs .packet .p-top .name {
  font-weight:600;
  font-size:40px;
  line-height:1
}
.tariffs .packet .p-top p {
  opacity:.5;
  margin:15px 0 0 0
}
@media (min-width:992px) and (max-width:1199px) {
  .tariffs .packet .p-top {
    padding:30px 20px
  }
  .tariffs .packet .p-top .name {
    font-size:36px
  }
}
@media (max-width:767px) {
  .tariffs .packet .p-top {
    padding:30px 20px
  }
  .tariffs .packet .p-top .name {
    font-size:36px
  }
  .tariffs .packet .p-top p {
    font-size:16px
  }
}
.tariffs .packet .p-body {
  padding:30px 40px;
  flex-grow:1
}
.tariffs .packet .p-body .for-price {
  margin:0 0 35px 0
}
.tariffs .packet .p-body .for-price .price {
  font-size:24px
}
.tariffs .packet .p-body .for-price .price span {
  font-size:55px;
  font-weight:600
}
@media (min-width:992px) and (max-width:1199px) {
  .tariffs .packet .p-body {
    padding:28px 20px
  }
  .tariffs .packet .p-body .for-price {
    margin:0 0 28px 0
  }
}
@media (max-width:767px) {
  .tariffs .packet .p-body {
    padding:28px 20px
  }
  .tariffs .packet .p-body .for-price {
    margin:0 0 28px 0
  }
}
.tariffs .packet .p-bottom {
  padding:0 40px 40px 40px
}
.tariffs .packet .p-bottom .cl-btn {
  width:100%
}
@media (min-width:992px) and (max-width:1199px) {
  .tariffs .packet .p-bottom {
    padding:0 20px 30px 20px
  }
}
@media (max-width:767px) {
  .tariffs .packet .p-bottom {
    padding:0 20px 30px 20px
  }
}
.tariffs .packet .plus {
  position:relative;
  width:40px;
  height:40px;
  margin:18px auto;
  stroke:#1A1A1A;
  fill:#1A1A1A
}
.tariffs .packet .plus:before,
.tariffs .packet .plus:after {
  position:absolute;
  content:'';
  height:1px;
  width:300px;
  background:rgba(30,30,30,.2);
  top:50%;
  transform:translateY(-50%)
}
.tariffs .packet .plus:before {
  right:calc(100% - 1px)
}
.tariffs .packet .plus:after {
  left:calc(100% - 1px)
}











